@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f5f5f5;
}

/* Header Styles */
header {
    background-color: #7ebfb3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    padding-left: 10px;
}

nav ul li {
    padding: 5px 15px;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #403e3ed1;
}

nav ul li a:active {
    color: #ff1616de;
}

/* Logo Styles */
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #194759;
    font-weight: bolder;
    margin-right: 40vw;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

/* Login/Signup Button Styles */
.login-signup-button {
    display: flex;
    align-items: center;
}

.login-signup-button button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border: 3px solid #194759;
    border-radius: 20px;
    transition: all 0.5s ease;
    background-color: transparent;
    color: #194759;
    font-weight: bold;
}

.login-signup-button .login:hover, 
.login-signup-button .signup:hover {
    background-color: #194759;
    color: #7ebfb3;
}

.login-signup-button .signup:active, 
.login-signup-button .login:active {
    background-color: #1081adce;
}

/*Tracking section*/
.tracing-search-bg-image{
    background-image: url('login/bg.jpg');
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 8px 16px rgba(73, 73, 73, 0.3);
    color: white;
}

.title {
    margin-top: 20px;
    font-size: 32px;
    margin-bottom: 30px;
    color: #7ebfb3;
}

.tracking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tracking-input {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 360px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.track-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #00ffd0;
    color: #194759;
    cursor: pointer;
    transition: background-color 0.4s, box-shadow 0.3s;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.track-button:hover {
    background-color: #00cca0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.track-button:active {
    background-color: #02ffc872;
}

/* services-section */
.services {
    background-color: #7ebfb3;
    padding: 10px 10px;
    box-shadow: 0 8px 16px #9de3d6;
    border-radius: 8px;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
}

.services h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #333;
    text-transform: uppercase;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-row, .second-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.service-card {
    background-color: #ffffff;
    padding: 20px 0px;
    margin: 0px 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    flex: 1;
    max-width: 25%;
    transition: box-shadow 0.5s;
}

.service-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.service-card h2 {
    font-size: 24px;
    color: #de6f00;
    margin-bottom: 10px;
    font-weight: bold;
}

.service-card:hover {
    box-shadow: 16px 12px 12px rgba(0, 0, 0, 0.3);
}

.about-us-section{
    margin-left: 10vw;
    max-width: 80%;
    margin-bottom: 20vh;
    margin-top: 20vh;
    flex-wrap: wrap;
    background-color: #194759;
    box-shadow: 2px 2px 10px #2e84a76f;
}

.about-us{
    padding-top: 10px;
    font-size: 3em;
    text-align: center;
    background-color: #194759;
    color: #00ffd0;
}

.card-container{
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #194759;
}

/* Vision Card Styles */
.vision {
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 550px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.4s, box-shadow 0.3s;
    margin: 20px 0px;
    position: relative;
}

.vision:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.313);
}

.vision-img-container {
    position: relative;
}

.vision-img-container img {
    width: 100%;
    height: 360px;
}

.card-logo-container{
    position: absolute; 
    top: 56%; 
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 75px;
    background-color: #fff;
    border: 5px solid #8a2be2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.card-logo-container img {
    width: 70%;
    height: auto;
    margin-left: 10px;
}

h1 {
    margin-top: 40px;
    font-size: 25px;
    color: #333;
}

p {
    margin-top: -10px;
    font-size: 15px;
    color: #666;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Mission Card Styles */
.mission {
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 550px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.4s, box-shadow 0.3s;
    margin: 20px 0px;
    position: relative;
}

.mission:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.313);
}

.mission-img-container {
    position: relative;
}

.mission-img-container img {
    width: 100%;
    height: 360px;
}

/* Support Section */
.customer-support {
    padding: 10px;
    background-color: #7ebfb3;
    text-align: center;
}

.customer-support h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #123b4b;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1s ease, opacity 1s ease;
}

.customer-support h2.visible {
    opacity: 1;
    transform: translateY(0);
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.contact-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
    height: 100%;
    max-height: 410px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1.2s ease, opacity 1s ease;
}

.contact-form.visible {
    opacity: 1;
    transform: translateX(0);
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 25px;
}

.form-row span {
    flex: 1;
}

.contact-form label {
    text-align: start;
    font-size: 18px;
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.contact-form textarea {
    resize: vertical;
    height: 120px;
    width: calc(100% - 20px);
}

.submit-button {
    margin-left: 14vw;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #194759;
    color: #00ffd0;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #143846;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


/* Footer Styles */
footer {
    display: flex;
    background-color: #194759;
    padding: 16px 25px;
    align-items: center;
    color: #7ebfb3;
    font-size: 16px;
    position: relative;
    width: 100%;
}

footer span {
    padding-right: 10px;
}

.footer-buttons{
    margin-left: 40%;
}

footer a {
    color: #7ebfb3;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    color: aqua;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
        margin-left: 200px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .login-signup-button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
    }

    footer{
        max-width: 440px;
    }
    .footer-buttons{
        margin-left: -10px;
    }
}

/* Responsive Design */
@media (max-width: 992px) {
    .service-card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .service-card {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .service-card {
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .service-card {
        max-width: 100%;
    }

    .first-row, .second-row {
        flex-direction: column;
        align-items: center;
    }
}
